{% extends 'base.html' %}

{% block content %}

      <div class="container-fluid flex-column row" >
            <div class="d-flex justify-content-center col">
                <h1>{{ object.title }}</h1>
            </div>
            <div class="d-flex justify-content-center col">
                    {% comment %} <iframe width="560" height="315" src="{{ object.video_link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> {% endcomment %}
                    <img src="https://static.vecteezy.com/system/resources/previews/000/338/466/non_2x/vector-flower-icon.jpg">
            </div>
            <div class="text-center d-flex justify-content-center col">
            {{ object.body }}
            </div>
      </div> 

{% endblock content %}