{% extends 'base.html' %}

{% block content %}

<div class="container-fluid text-center">
    <div class="row">
            <h1 class="col-lg-12" style="padding: 3%">Морковки Offline farm</h1>
            <h3 class="col-lg-12" style="font-size: 30px; margin-bottom: 20px;">Бесплатный пробный период 6 месяцев</h3>

        <div class="col-md-4 d-flex align-items-center flex-column ">
                <img src="https://sun9-58.userapi.com/c852236/v852236343/1bef32/0jFriPT_MXA.jpg" alt="delivery" style="height: 45vh;">
                <a href="" class="btn btn-primary" style="margin-top: 10px; min-width: 200px;">Минимальный</a>
        </div>

        <div class="col-md-4 d-flex align-items-center flex-column ">
                <img src="https://sun9-18.userapi.com/c852236/v852236343/1bef3c/LsYCEPmjYT8.jpg" alt="delivery" style="height: 45vh;">
                <a href="" class="btn btn-primary" style="margin-top: 10px; min-width: 200px;">Стандарт</a>
        </div>

        <div class="col-md-4 d-flex align-items-center flex-column ">
                <img src="https://sun9-60.userapi.com/c852236/v852236343/1bef28/atmPxm8KN9c.jpg" alt="delivery" style="height: 45vh;">
                <a href="" class="btn btn-primary" style="margin-top: 10px; min-width: 200px;">Премиум</a>
        </div>

    </div>
    <div class="row" style="border: 3px solid; margin:2% 10% 0 10%">
            <div class="col-md-4"><img src="https://sun9-7.userapi.com/c856020/v856020875/eabf1/N8dEma6ipjY.jpg" alt="" class="image-fluid" style="height: 120px;"></div>
            <div class="col-md-8" style="text-align: left;">Название: Морковка<br>Описание: здесь должно быть описание морковки какая она вкусная и полезная.<br> <b>Цена: 40 руб/кг</b></div>
            <div class="w-100"></div>
            <div class="col-md-4"><img src="https://i.pinimg.com/originals/4b/79/79/4b79793d2fc4b9a87cb307681bb2f186.png" alt="" class="image-fluid" style="height: 120px;"></div>
            <div class="col-md-8" style="text-align: left;">Название: Огурчик (рик)<br>Описание: здесь должно быть описание разговорчивого и крутого Рика огурчика.<br> <b>Цена: 65 руб/кг</b></div>
            <div class="w-100"></div>            
            <div class="col-md-4"><img src="https://sun9-26.userapi.com/c856020/v856020875/eac0e/b2kmeiF5eos.jpg" alt="" class="image-fluid" style="height: 120px;"></div>
            <div class="col-md-8" style="text-align: left;">Название: Капустка<br>Описание: здесь должно быть описание капустки какая она вкусная и полезная.<br> <b>Цена: 30 руб/кг</b></div>
            <div class="w-100"></div>            
            <div class="col-md-4"><img src="https://sun9-23.userapi.com/c856020/v856020875/eac18/KAGRPV9qFSg.jpg" alt="" class="image-fluid" style="height: 120px;"></div>
            <div class="col-md-8" style="text-align: left;">Название: Томат<br>Описание: здесь должно быть описание томата какой он красный.<br> <b>Цена: 85 руб/кг</b></div>
            <div class="w-100"></div>            
            <div class="col-md-4"><img src="https://sun9-41.userapi.com/c856020/v856020875/eac32/plHt_44o2-w.jpg" alt="" class="image-fluid" style="height: 120px;"></div>
            <div class="col-md-8" style="text-align: left;">Название: Арбуз<br>Описание: здесь должно быть описание арбуза, какой он большой и сильный.<br> <b>Цена: 20 руб/кг</b></div>
            <div class="w-100"></div>            
            <div class="col-md-4"><img src="https://sun9-30.userapi.com/c856020/v856020875/eac4e/H-h5wYUONn4.jpg" alt="" class="image-fluid" style="height: 120px;"></div>
            <div class="col-md-8" style="text-align: left;">Название: Дыня<br>Описание: здесь должно быть описание самой лучше, самой свежей, самой сочной, самой сладкой дыни на земле.<br> <b>Цена: 45 руб/кг</b></div>
            <div class="w-100"></div>
          </div>
</div>

{% endblock content %}